In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
data={'Stage':['Facebook','Email Campaign','LinkedIn DMs'],'Leads':['3000','1000','500'],'Cost Incurred':['90000','10000','25000'],
      'Conversions':['30','25','10'],'Convertion Rate':['1%','2.5%','2%'],'Cost Per Conversion':['3000','400','2500']}

In [4]:
data

{'Stage': ['Facebook', 'Email Campaign', 'LinkedIn DMs'],
 'Leads': ['3000', '1000', '500'],
 'Cost Incurred': ['90000', '10000', '25000'],
 'Conversions': ['30', '25', '10'],
 'Convertion Rate': ['1%', '2.5%', '2%'],
 'Cost Per Conversion': ['3000', '400', '2500']}

In [5]:
df=pd.DataFrame(data)
df

,Stage,Leads,Cost Incurred,Conversions,Convertion Rate,Cost Per Conversion
0,Facebook,3000,90000,30,1%,3000
1,Email Campaign,1000,10000,25,2.5%,400
2,LinkedIn DMs,500,25000,10,2%,2500

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Stage                3 non-null      object
 1   Leads                3 non-null      object
 2   Cost Incurred        3 non-null      object
 3   Conversions          3 non-null      object
 4   Convertion Rate      3 non-null      object
 5   Cost Per Conversion  3 non-null      object
dtypes: object(6)
memory usage: 272.0+ bytes

In [7]:
df['Convertion Rate']=df['Convertion Rate'].str.replace('%','')

In [8]:
df['Leads']=df.Leads.astype(int)
df['Cost Incurred']=df['Cost Incurred'].astype(int)
df['Conversions']=df.Conversions.astype(int)
df['Convertion Rate']=df['Convertion Rate'].astype(float)
df['Cost Per Conversion']=df['Cost Per Conversion'].astype(int)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Stage                3 non-null      object
 1   Leads                3 non-null      int64
 2   Cost Incurred        3 non-null      int64
 3   Conversions          3 non-null      int64
 4   Convertion Rate      3 non-null      float64
 5   Cost Per Conversion  3 non-null      int64
dtypes: float64(1), int64(4), object(1)
memory usage: 272.0+ bytes

In [10]:
df.head()

,Stage,Leads,Cost Incurred,Conversions,Convertion Rate,Cost Per Conversion
0,Facebook,3000,90000,30,1.0,3000
1,Email Campaign,1000,10000,25,2.5,400
2,LinkedIn DMs,500,25000,10,2.0,2500

In [11]:
df.describe()

,Leads,Cost Incurred,Conversions,Convertion Rate,Cost Per Conversion
count,3.000000,3.000000,3.000000,3.000000,3.000000
mean,1500.000000,41666.666667,21.666667,1.833333,1966.666667
std,1322.875656,42524.502741,10.408330,0.763763,1379.613472
min,500.000000,10000.000000,10.000000,1.000000,400.000000
25%,750.000000,17500.000000,17.500000,1.500000,1450.000000
50%,1000.000000,25000.000000,25.000000,2.000000,2500.000000
75%,2000.000000,57500.000000,27.500000,2.250000,2750.000000
max,3000.000000,90000.000000,30.000000,2.500000,3000.000000

In [12]:
df.describe(include='O')

           Stage
count          3
unique         3
top     Facebook
freq           1

In [13]:
df

,Stage,Leads,Cost Incurred,Conversions,Convertion Rate,Cost Per Conversion
0,Facebook,3000,90000,30,1.0,3000
1,Email Campaign,1000,10000,25,2.5,400
2,LinkedIn DMs,500,25000,10,2.0,2500

- **As we can see from the above data that The leads occured from the Facebook are higher but has lower conversion rate that what it make it Costly and low effective.**
- **Email Campaigns are doing well as it has higher conversion rate attracting more customers and lower cost per conversion that what it makes this stage has more poritable among all.**
- **And the second well doing stage is Linkedin .**

* ### *Lead*- Facebook has the Lead.
* ### *MQL*- Facebook is good in marketing as it has 3000 leads.
* ### *SQL*- Email Campaign is best Sale qualified Lead as it has Highest Conversion rate.

- **As we can see Facebook has the highest leads so we can try to improve by providing the content as per their job roles, location and interest what can attract them most.**
- **And provide the best dashboard that is user friendly.**

## Thus we can say Email Campaign are doing best as per the customer are getting into it and has good conversion rate.

# Core Data Fields Per Contact
**Full Name**

**Email ID**

**Phone Number**

**Company Name**

**Industry**

**Lead Source (Facebook, Email, LinkedIn)**

**Funnel Stage (Lead, MQL, SQL, etc.)**

**Last Engagement Date**

**Engagement Score (0–100)**

**Disqualification Reason (if dropped)**

**Deal Size (if known)**

**Account Owner**


# Automations
**Auto-tag contacts by lead source**

**Auto-update funnel stage based on actions (e.g., demo booked → SQL)**

**Notify owner if no response in 5 days**

**Auto-create follow-up tasks for sales reps**

**If inactive > 10 days → move to dormant & trigger re-nurture sequence**

# Intent Based Nurturing Task

| **Lead Intent** | **Criteria**                         | **Frequency & Channels**                      | **Content Types**                                               | **Success Metric**                   |
| --------------- | ------------------------------------ | --------------------------------------------- | --------------------------------------------------------------- | ------------------------------------ |
| **High Intent** | Booked demo, didn’t convert          | 3 messages in 10 days via Email + LinkedIn DM | Case study, offer (e.g. free setup), “missed you” founder note  | Demo rebooked or direct reply        |
| **Mid Intent**  | Downloaded resource / joined webinar | 1 email/week + 1 WhatsApp ping in 2 weeks     | Industry trends, testimonial video, checklist or ROI calculator | Email click-through, form submission |
| **Low Intent**  | Subscribed to newsletter             | 2x/month email, retarget via FB/LinkedIn ads  | Blog post, free tool, “Top 5 Insights” monthly round-up         | Ad engagement or reactivation        |

# CAC:LTV Tracking Dashboard Proposal
## Metrics to Include 
**CAC by source**

**Average LTV per customer**

**Funnel conversion at each stage (Lead → MQL → SQL → Customer)**

**CAC:LTV ratio by source**

**Retention % per cohort**

# My Funnel Design Philosophy
**Funnels are not linear. They are decision support systems that make human unpredictability measurable and actionable. My philosophy is to create filters, not pipelines — because qualifying and disqualifying early saves time, money, and team morale.**

**I believe in clear definitions (Lead vs. MQL), disciplined ownership (Marketing → Sales → CS), and automations that protect against drop-offs. My CRM is not a contact list — it’s an operating system that connects actions to outcomes.**

**While data shows performance, stories give it meaning. Every spike in CAC or leak in the funnel tells a story. Data storytelling bridges dashboards and boardrooms. As a growth partner, I don’t just present metrics — I propose actions.**

**At the core, I treat every funnel design like an experiment — meant to be iterated, tested, and scaled.**